.title {
    position: relative;
    font-family: 'Circular Std', sans-serif;
    font-size: 50px; 
    line-height: 50px;
    font-weight: 700;
    letter-spacing: -0.01em; 
    color: rgba(61, 79, 92, 1);
}

.title--main { 
    font-size: 85px;
    line-height: 85px;
    letter-spacing: -0.02em; 
}

.title--list { 
    font-size: 30px; 
    line-height: 30px;
    letter-spacing: -0.01em; 
    color: var(--primary-orange);

}

.title--footer {
    font-size: 18px; 
    line-height: 18px; 
}

.title--contact { 
    font-size: 60px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -0.02em; 
    color: rgba(255, 255, 255, 1);
    text-align: left;
}

.title--card { 
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: center;
}


.text {
    font-family: 'Circular Std', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--primary-orange);
}

.text--left {
    text-align: left;
}


.text--contact {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.text--list { 
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: center; 
    color: rgba(61, 79, 92, 1);
}

.text--thumbs { 
    position: relative;
    font-size: 40px;
    font-weight: 700; 
    letter-spacing: -0.01em; 
    line-height: 50px;
    text-align: center;
    display: inline; 
    padding: 0 calc(59px + 1.5vw);  
}

.text--thumbs::before {
    content: url('../images/icon.thumb.svg'); 
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
 

.text--thumbs::after {
    content: url('../images/icon.thumb-back.svg'); 
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
 
 